:root{
  --blanco: #F6F6F6;
  --celeste: #22D4FD;
  --fondo: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&family=Krona+One&family=Lato:wght@100;400&family=Montserrat:wght@200&display=swap');
body{
  background-color: var(--fondo);
  color: var(--blanco);
  font-family: 'Krona One', sans-serif;
  box-sizing: border-box;
  height: 100vh;
}
strong{
  color: var(--celeste);
}
.apresentacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10%;
  padding-left: -2em;
}
.apresentacao__conteudo{
  width: 615px;
  gap: 40px;
 
}
.apresentacao__conteudo__titulo{
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
}
.apresentacao__conteudo__texto{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  max-width: 615px;
  box-sizing: border-box;
}
 .apresentacao__links__link{
  background-color: var(--celeste);
  color: var(--fondo);
  text-align:center;
  text-decoration: none;
  padding: 17px 45px;
  border-radius: 16px;
  width: 280px;
  padding: 21.5px 0;
}
.titulo-destaque{
  color: var(--celeste);
}
.titulo, .tituloAzul{
  font-weight: 400;
  line-height: 56px;
  font-size: 36px;
}
.apresentacao__conteudo__texto{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 2em;
}
 
.buttons{
  justify-items: space-between;
}
.apresentacao__links{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;  
  font-weight: 600;
}
